@model cho500.Entity.HouseholdMember

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
    <h4>Household Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Member.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.Member.FullName)</dd>
        <dt>@Html.DisplayNameFor(model => model.HouseholdProfileID)</dt>
        <dd>@Html.DisplayFor(model => model.HouseholdProfileID)</dd>
        <dt>@Html.DisplayNameFor(model => model.RelationToHead)</dt>
        <dd>@Html.DisplayFor(model => model.RelationToHead)</dd>
        <dt>@Html.DisplayNameFor(model => model.Member.DateOfBirth)</dt>
        <dd>@Html.DisplayFor(model => model.Member.DateOfBirth)</dd>
        <dt>@Html.DisplayNameFor(model => model.Member.Sex)</dt>
        <dd>@Html.DisplayFor(model => model.Member.Sex)</dd>
        <dt>@Html.DisplayNameFor(model => model.Member.BloodType)</dt>
        <dd>@Html.DisplayFor(model => model.Member.BloodType.Type)</dd>
        <dt>@Html.DisplayNameFor(model => model.Member.PhilHealthNo)</dt>
        <dd>@Html.DisplayFor(model => model.Member.PhilHealthNo)</dd>
        <dt>@Html.DisplayNameFor(model => model.Member.Notes)</dt>
        <dd>@Html.DisplayFor(model => model.Member.Notes)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
