@model cho500.Entity.ChildImmunizatonRecord

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChildImmunizatonRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildHealthRecord.TypeOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildHealthRecord.TypeOfDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Second)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Third)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Third)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booster1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booster1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booster2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booster2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booster3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booster3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reaction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
